@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: "Pacifico", cursive;
   background-color: wheat;
    padding: 10%;
    font-size: x-large;
}
h1 {
    text-align: center;
    font-size: 100px;
    text-underline-position: below;
}
button {
    background-color: gold;
    border-radius: 8px ;
    padding: 20px 25px;
    font-size: larger;
}
button:hover {
    background-color: aliceblue;
}
.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    
}


.recipe {
    border: 3px solid #070000;
    padding: 10px;
    margin-bottom: 20px;
}
.recipe img {
    max-width: 100%;
    border-radius: 10px;
    height: 200%;
    display: flex;
    justify-content: center;
}
.ingredients, .directions {
    margin-top: 10px;
}

