@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: "Pacifico", cursive;
   background-color: aqua;
    padding: 10%;
}

.recipe {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
.recipe img {
    max-width: 100%;
    border-radius: 10px;
    height: 200%;
}
.ingredients, .directions {
    margin-top: 10px;
}